[Match]
Type=ether
Name=!veth*
KernelCommandLine=!nfsroot
KernelCommandLine=!ip

[Network]
DHCP=yes
LinkLocalAddressing=yes
IPv6AcceptRA=no
MulticastDNS=yes

[DHCP]
UseMTU=yes
RouteMetric=10
ClientIdentifier=mac
